*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.form{
    padding: 30px;
    border-radius: 20px;
    background-color:rgb(255, 234, 0);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px grey;
}
.form-input{
    margin: 20px;
    padding: 20px;
    position: relative;
}
.form-input label{
    font-size: larger;
    font-weight: bold;
    position: inherit;
}
.form-input input,Textarea{
    position: inherit;
    margin: 5px;
    word-spacing: 2px;
    row-gap: 3px;
    font-size: large;
    width: 100%;
    padding: 10px;
}
button{
    padding: auto;
    size: 150%;
    width: 100%;
    background-color: blue;
    color: white;
    font-size: larger;
    cursor: pointer;
    margin: 10px;
    transition: all linear ;
    border: solid 3px black;
}
button:hover{
    background-color: green;
}

